.blueBackground {
	background-color: cornFlowerBlue;
}
.smallBorder {
	border: 2px solid black;
}
.largeRedBorder {
	border: 10px solid red;
}
.greenBackground {
	background-color: green;
	width: 70%;
}
.redBackground {
	background-color: red;
	width: 70%;
	float: left;
}
.goldBackground {
	background-color: gold;
	width: 30%;
	float: right;
}